@using Codesanook.ReactJS.ServerSideRendering.Models
@model  User
@{ 
    ViewBag.Title = "Real man";
}

<h3>Profile</h3>
@{
    var props = new
    {
        user = new { firstName = Model.FirstName, lastName = Model.LastName }
    };
}

@Html.React("Components.Profile", props)

<hr />
<h3>Current counter value</h3>
@Html.React(
    "Components.Counter",
    new { defaultCounterValue = 99 }
)
<hr />

<h3>Another counter value</h3>
@Html.React(
    "Components.Counter",
    new { defaultCounterValue = 9999 }
)
<hr />

<h4>
    Credit admin Thep Pong <a href="https://www.codesanook.com">codesanook.com</a>
</h4>